<header class="shadow">
    <nav class="navbar navbar-expand-lg">
     
        <div class="container-fluid">
          <a href="/">
            <img src="../../images/Logo3.png" alt="logo" class="logo">
          </a>
          <span id="tipografia-logo" class="p-0 mr-5"><strong><i>Prevento</i></strong></span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#conciertos">Conciertos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#teatro">Teatro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#deportes">Deportes</a>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link login" href="/products/create">Publicá tu evento</a>
              </li>
              <li class="nav-item">
                <a class="nav-link login" href="/user">Ingresar</a>
              </li>
            <li class="nav-item login">
              <a class="nav-link" href="/user/register">Registrarse</a>
            </li>
            <li class="nav-item">
              <a class="" href="/user/profile"> <i class="bi bi-person-circle icono-carrito"></i> </a>
            </li> 
            <li class="nav-item">
              <a class="" href="/cart"> <i class="bi bi-cart icono-carrito"></i> </a>
            </li> 

          </ul> 
          </div>              
        </div>            
      </nav>
  
       <!--BUSCADOR-->
      <div id="buscar" class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <form role="search" action="buscar" method="post"><button class="btn btn-outline-success btn-buscar" type="submit"><i class="bi bi-search"></i></button>           
        </form>
    </div>                 
  </header>
  