<html lang="es"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="css/nav-footer.css" rel="stylesheet" type="text/css">
    <link href="css/cart.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/images/prevento-logo.png">
    <title>Carrito de compras</title>
</head>
<body>
  <%- include('../partials/header') %>

      <main> 
        <section class="container-lg pt-1 mt-1">
            <div id="carrito" class="col-11 col-md-9 col-sm-9 container-lg"> 
            </div> 
                <article class="justify-content-center row p-4">
                    <!-- <div class=""> -->
                        
                    <!-- </div> -->
                    <form action="comprar" method="post" class="justify-content-center row p-4">
                        <h5 class="col-12 col-sm-5 text-center mb-0 mt-2 pb-0" id="valorTotal"></h5>
                        <button class="btn btn-outline-success btn-buscar col-10 col-sm-2 mt-sm-0 mt-2" type="submit">Pagar</button>
                    </form>
                    
                </article>

        </section>
        

      </main>
      <!-- FOOTER -->
      <%- include('../partials/footer') %>
    <!-- scripr del archivo javascrpit con logica de carrito -->
    <script src="/javascript/carrito.js"> </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body></html>